
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  annotations:
    managed-by: argocd.argoproj.io
  labels:
    source-secret: {{ .SaName }}
    source-namespace: {{ .SaNamespace }}
    argocd.argoproj.io/secret-type: cluster
  name: {{ .ArgoRef }}
  namespace: {{ .ArgoNs}}
data:
  name: {{ .ArgoRefB64  }}
  server: {{ .UrlRefB64 }}
  config: {{   .ConfigB64   }}
